.movieListContainer {
    padding-left: 0px;
}
.movieTitle {
    list-style: none;
    padding:20px;
    border: 1px solid grey;
}
.moviesSearchContainer input {
    height: 200px;
    width: 200px;
    font-size: 20px;
}
.goBtn {
    font-size: 13px;
}